<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyPay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authentification</display-name>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wallet</display-name>
    <servlet-name>Wallet</servlet-name>
    <servlet-class>Wallet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wallet</servlet-name>
    <url-pattern>/Wallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank</display-name>
    <servlet-name>Bank</servlet-name>
    <servlet-class>Bank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank</servlet-name>
    <url-pattern>/Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saving</display-name>
    <servlet-name>Saving</servlet-name>
    <servlet-class>Saving</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saving</servlet-name>
    <url-pattern>/Saving</url-pattern>
  </servlet-mapping>
</web-app>